.nav-link{
    font-size: 110%;
}

div, span{
    font-family: "Microsoft YaHei";
}

/*#profile-picture{
    border-radius: 50%;
}*/

#about_me{
    padding: 1em;
}

#education{
    width: 100%;
}

#about_me, #education, #experience, #skills, #awards, #bucketlist {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5rem 1rem;
}

.establishment-name{
    padding-left: 0.5em;
    width: 100%;
}

.establishment-information{
    padding-left: 3em;
    width: 100%;
}

#navbar {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 768px){
    #navbar{
        margin: 0;
        position: unset;
        top: 0%;
        transform: translate(0, 0);
    }

    #profile-picture{
        display: flex;
        display: -ms-flex;
        flex-direction: column;
    }

    #bucketlist{
        height: 100%;
    }

    #QMUL, #haberdashers{
        visibility: hidden;
        margin: 0;
    }

    .establishment{
        margin: 0em;
        padding-top: 0em;
    }

    .establishment2{
        padding-bottom: 0em;
        margin: 0em;
        padding-top: 0em;
    }

    .establishment2-information{
        padding-top: 0em;
    }
}

.social-icon, .footer-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 75%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.social-icon:last-child {
    margin-right: 0;
}

footer{
    text-align: center;
    align-content: center;
}

.footer-icon{
    background-color: #ffffff;
    color: #696969;
    font-size: 2.5rem;
    border-radius: 0;
    margin-right: 0;
}

.completed{
    color: #4caf50;
}

#bucketlist-table {
    padding-left: 3em;
}

.establishment{
    margin: 1em;
    padding-top: 1em;
}

.establishment2{
    padding-bottom: 3em;
    margin: 1em;
    padding-top: 1em;
}

.establishment2-information{
    padding-top: 1.5em;
}

#QMUL, #haberdashers{
    float: left;
    margin: 1em;
}