div, span{
    font-family: "Microsoft YaHei";
}

/* NAVIGATION */

    .nav-link{
        font-size: 110%;
    }

    #navbar {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .navbar-brand{
        visibility: hidden;
    }

/* NAVIGATION END */

/* ABOUT ME */

    #about_me{
        padding: 1em;
    }

    /*#profile-picture{
        border-radius: 50%;
    }*/

/* ABOUT ME END */

#education, #experience{
    width: 100%;
}

#about_me, #education, #experience, #skills, #awards, #bucketlist {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5rem 1rem;
}

#experience, #skills{
    /*background-color: #f3f3f3; */
}

/* EDUCATION SECTION START */

.establishment{
    margin: 1em;
    padding-top: 0;
    padding-bottom: 1em;
}

.establishment-name{
    padding-left: 0.5em;
    width: 100%;
    padding-top: 0.75em;
}

.establishment-information{
    padding-left: 3em;
    padding-top: 0.5em;
    width: 100%;
}

.establishment2{
    padding-bottom: 3em;
    margin: 1em;
}

.establishment2-information{
    padding-top: 2em;
}

#QMUL, #haberdashers, #bursted{
    float: left;
    margin: 1em;
}


/* EDUCATION END */

/* SKILLS START */

.skills-list{
    font-size:64px;
    color: #2196f3;
    list-style-type: none;
}

.skills-project{
    font-size: small;
    color: black;
}

/* SKILLS END */

/* SOCIAL ICONS START */

.social-icon, .footer-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 75%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.social-icon:last-child {
    margin-right: 0;
}

/* SOCIAL ICONS END */

/* BUCKETLIST START */

#bucketlist-table {
    padding-left: 3em;
}

.completed{
    color: #4caf50;
}

/* BUCKETLIST END */

/* FOOTER START */

footer{
    text-align: center;
    align-content: center;
}

.footer-icon{
    background-color: transparent;
    color: #696969;
    font-size: 2.5rem;
    border-radius: 0;
    margin-right: 0;
}

/* FOOTER END */

@media (max-width: 768px){
    .navbar-brand{
        visibility: visible;
        padding-top: 0.35em;
        margin: 0;
    }

    #navbar{
        margin: 0;
        position: unset;
        top: 0;
        transform: translate(0, 0);
    }

    #bucketlist, #education, #skills{
        height: 100%;
    }

    #profile-picture{
        display: flex;
        display: -ms-flex;
        flex-direction: column;
    }

    .establishment, .establishment2, .establishment2-information, .establishment-name, .establishment-information{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .establishment-information{
        padding-top: 0.65em;
        padding-left: 1.25em;
        padding-bottom: 1em;
    }

    .establishment2-information{
        padding-top: 1.75em;
        padding-left: 1.25em;
        padding-bottom: 1em;
    }

    .establishment-name{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #habs-school{
        padding-top: 1.5em;
    }

}